<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>512672189535-4tijj1gc1m5uhob85psknkdh8tebo707.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.512672189535-4tijj1gc1m5uhob85psknkdh8tebo707</string>
	<key>API_KEY</key>
	<string>AIzaSyALAPiGbqgYtd6QOuQ-XdRaDXx-M1PYpNE</string>
	<key>GCM_SENDER_ID</key>
	<string>512672189535</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shubhamkumar.Artable</string>
	<key>PROJECT_ID</key>
	<string>artable-aedbf</string>
	<key>STORAGE_BUCKET</key>
	<string>artable-aedbf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:512672189535:ios:1da6663a09db9a96</string>
	<key>DATABASE_URL</key>
	<string>https://artable-aedbf.firebaseio.com</string>
</dict>
</plist>